body{
    margin: 0;
    padding: 0;
}
.header-area{
    background-color: black;
    padding: 50px 0;
    overflow: hidden;
}
*ul{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.log-area{
    width: 30%;
    float: left;
}
.logo-area img{
    height: 116px;
    width: 461px;
}
.manu-area{
    float: left;
    width: 70%;
    margin-top: 10px;
    
}
.manu-area ul{
    list-style-type: none;
    text-align: center;   
    
}
.manu-area ul li{
    display: inline-block;
}
.manu-area ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
    position: relative;
}

.manu-area ul li a::before{
    background-color: red;
    width: 50%;
    height: 5px;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    opacity: 0;

}
.manu-area ul li a:hover::before{
    opacity: 1;
    transition: 1s;
}
.manu-area ul li a::after{
    background-color: rgb(0, 255, 76);
    width: 50%;
    height: 5px;
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    opacity: 0;

}
.manu-area ul li a:hover::after{
    opacity: 1;
    transition: 1s;
}
